<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
    <!--<link rel="stylesheet" href="app.css"/>-->
    <title>Interface-2037</title>
</head>
<body>
<style>
    body{
        width: 100%;
    }
    label.color{
        padding-bottom: 5px;
    }
    .box{
        margin: 0 auto;
        width: 50%;
        margin-top: 15%;
    }
    .send{
        display: flex;
        justify-content: center;
    }
</style>
<div class="box">
    <div class="row">
        <form id="formQuestion" class="col s12" method="post" action="questions">
            <div class="row">
                <div class="input-field col s12">
                    <input id="libelle" autocomplete="false" maxlength="255" data-length="255" name="libelle" type="text" class="validate" required=""/>
                    <label for="libelle" type="text">Quelle est votre question ?</label>
                </div>
            </div>
            <div class="send">
                <button type="submit" class="waves-effect waves-light btn">Envoyer</button>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript">
    $('#textarea1').trigger('autoresize');

    // wait for the DOM to be loaded
    $(document).ready(function() {
        // bind 'myForm' and provide a simple callback function
        $('#formQuestion')
            .ajaxForm({
                url : 'questions', // or whatever
                dataType : 'json',
                success : function (response) {
                    window.location.href= "details/" + response.id;
                }
            })
        ;
    });
</script>
<script src="http://malsup.github.com/jquery.form.js"></script>
</body>
</html>
